$color_background_1: #13131Aff;
$color_background_2: #1d1d27ff;
$color_background_3: #1d1d27bb;
$color_background_4: #1d1d2777;
$color_background_5: #1d1d2733;

$color_white_1: #ffffffff;
$color_white_2: #ffffffdd;
$color_white_3: #ffffff99;
$color_white_4: #ffffff55;
$color_white_5: #ffffff11;

$mobile_width_1: 900px;
$mobile_width_2: 1200px;
$mobile_width_3: 1500px;