.navbar-common {
  border: 1px solid $color_white_5;
  background: $color_background_3;

  width: 18rem;

  height: 85%;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  transition: all 1s ease;

  .spacer {
    flex-grow: 1;
    width: 100%;
    // background: red;
  }

  .button {
    height: 2.5em;
    padding: .5em;
    width: 100%;
    // background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: .4em;
    transition: background-color .3s ease;

    img {
      transition: rotate 1s ease;
      height: 100%;
    }

    &:hover {
      background: $color_white_5;
    }
  }
  
  .navigate { img { rotate: 180deg; } }
}


@media screen and (max-width: $mobile_width_1) {
  .navbar-common {
    background: transparent;
    border: transparent;
    padding: 0;
    width: 100%;

    .button {
      display: none;
    }
  }

  
}